.main {
}

.main form {
    margin: 0 20%;
    margin-bottom: 80px;
}

.header_form h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
}

.header_form p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 30px;
}

.input_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid lightgray;
    background-color: rgb(240, 240, 240);
    margin-bottom: 60px;
}

.input_form fieldset {
    border: none;
    margin: 5px 3%;
}

.input_form legend {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

.input_field {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_field input {
    width: 80%;
    height: 40px;
    text-align: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.checkbox_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    width: 60%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.checkbox input {
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.checkbox label {
    font-size: 16px;
    margin-left: 10px;
}

.submit_controls {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.submit_controls a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
    color: #4682B4;

}

.submit_controls a:hover {
    opacity: 0.6;
}

.submit_controls a:visited{ color:#4682B4 }

.submit_controls button {
    text-align: center;
    border-radius: 8px;
    border: none;
    padding: 10px 50px;
    background-color: #4682B4;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}

.submit_controls button:hover {
    border: 1px solid #4682B4;
    background-color: white;
    color: #4682B4;
}


